torch==2.4.1
transformers==4.47.1
bitsandbytes==0.44.1
accelerate==1.2.1
peft==0.13.2
trl==0.12.2
datasets==3.2.0
gradio==5.10.0
fastapi==0.109.2
uvicorn==0.27.1
httpx==0.27.2
pydub==0.25.1
librosa==0.10.2.post1
jinja2==3.1.5
jiwer==3.0.5
rouge_score==0.1.2
sacrebleu==2.5.1
openai-whisper==20240930
reportlab==4.2.5
wandb==0.18.7
huggingface_hub==0.27.0
python-dotenv==1.0.1
loguru==0.7.2
pydantic==2.10.6
pydantic-settings==2.7.1
